.navbar__wrapper{
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout-btn{
    background-color: #fff;
    border: none;
    padding: 8px 18px;
    font-size: 18px;
    border-radius: 18px;
    cursor: pointer;
}