.user-activities {
  padding: 30px 0;
}

.user-activities__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.user-activities__list {
  background-color: #000;
  color: rgb(62, 247, 16);
  padding: 15px;
  height: 450px;
  overflow: auto;
  scrollbar-color: #fff #000;
}

.user-activities__item {
  display: flex;
  align-items: center;
}

.user-activities__info {
  width: 300px;
}

.user-activities__info--full {
  width: 100%;
}
