.profile-nav{
    background-color: #000;
    .profile-nav__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }
    .profile-nav__name{
        color: #fff;
    }
    .profile-nav__btn{
        padding: 6px 12px;
        font-size: 18px;
        border: none;
        background-color: #fff;
        border-radius: 15px;
}
}